	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{{url_for('static', filename = 'img/fav.png')}}">
		<!-- Author Meta -->
		<meta name="author" content="Ritik Jain">
		<!-- Meta Description -->
		<meta name="description" content="A personal website built and deployed by Ritik Jains.">
		<!-- Meta Keyword -->
		<meta name="keywords" content="portfolio">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Ritik Jain</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			
			<link rel="stylesheet" href="{{url_for('static', filename = 'css/linearicons.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename = 'css/font-awesome.min.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename = 'css/magnific-popup.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename = 'css/jquery-ui.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename = 'css/nice-select.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename = 'css/animate.min.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename = 'css/owl.carousel.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
			<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/hover_detail.css')}}">

			
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

			<script type="text/javascript">


				function hover_inout(id_val, detail_id){
					detail_id = "#" + detail_id;
					id_val = "#" + id_val;
					$(document).ready(function(e){
						$(id_val).hover(function(evt){
							$(detail_id).css('display', 'block');
						
						}, function(){
							$(detail_id).css('display', 'none');

						})
					})
				}
			</script>


		</head>

		<body>
			<header id="header">
	      <div class="container main-menu">
	        <div class="row align-items-center justify-content-between d-flex">
	          <div class id="logo">
	            <a href="{{url_for('index_page')}}"><h3>Ritik </h3></a>
	         </div>
	          <nav id="nav-menu-container">
	            <ul class="nav-menu">
	              <li><a href="{{url_for('index_page')}}">Home</a></li>
	              <li><a href="{{url_for('about_page')}}">About</a></li>


	              <!-- <li><a href="archive">Portfolio</a></li> -->

	              <li><a href="{{url_for('static', filename = 'RitikResume.pdf')}}" class="genric-btn primary-border circle" target="_blank">Resume</a></li>
	              </ul>

	          </nav><!-- #nav-menu-container -->
	        </div>
	      </div>
	    </header><!-- #header -->
			<!-- start banner Area -->
			<section class="about-banner">
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Me
							</h1>
							<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about"> About Me</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start home-about Area -->

				<div class="container">
					<div class="section-top-border">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 home-about-left">
							<img class="img-fluid" src="{{url_for('static', filename = 'img/ritik.png')}}" alt="">
						</div>
						<div class="col-lg-5 col-md-6 home-about-right">
							<h1 class="text-uppercase">Personal Details</h1>
							<p>
								Here's some more info obout me.
							</p>
							<a href="#FAQ" class="primary-btn text-uppercase">About Me</a>
						</div>


						<div class="col-lg-12 pt-60">
							<p>I was very passionate about automation to reduce manual labour for regular day to day task. After some serious research and exploration, I found machine learning. With dedication and guidance i am able to learn and understand about machine learning, data science and tech industry.</p>
							<p>I completed Master of Compuuter Application from VIT University. Also, completed many internship with as a Data Scientist in Nabler Web Solutions, Axis India and TEAL India, used machine learning and statistical methods from preparing data for developing a knowledge base to inferring the data and improving user experience. </p>

						</div>
					</div>
				</div>





			<!-- End home-about Area -->
<hr>

			<!-- Start timeline Area -->
			<section class="timeline pt-80 pb-80">
            <div class="text-center">
                <div class="menu-content pb-40">
                    <div class="title text-center">
                        <h1 class="mb-10">My Jounrney</h1>
                    </div>
                </div>
            </div>
			  <ul>
			    <li>
			      <div class="content" id = "tile1">
			      	<script type="text/javascript"> hover_inout("tile1", "detail1");</script>
			      	<div class="row">
						  <div class = "col-md-3" style="margin: 25px 0px;">
			      			<img class="img-fluid mx-auto d-block mb-30" src="{{url_for('static', filename = 'img/icon1.png')}}" alt="">
			      		</div>
			      		<div class = "col-md-9">
					        <h4>
					          <time>Bachelors in Computer Application</time>
					        </h4>
					        <p><b><a href = "https://jecrcuniversity.edu.in/" target="_blank">JECRC University (2014 - 2017)</a></b></p>
					        <p><b>GPA:</b> 8.78 (On a scale of 10.00)</p><br>
					        </div>
			        	</div>
			        <div id = "detail1" style = "text-align: center;display: none">
			        	<p>Studied Software Development, Android Development</p>
			        </div>
			      </div>
			    </li>
			    <li>
			      <div class="content", id = "tile2">
			      	<div class = "row">
				      	<div class = "col-md-3 " style="margin: 25px 0px;">
				      		<img class="img-fluid mx-auto d-block mb-30" src="{{url_for('static', filename = 'img/icon1.png')}}" alt="">
				      	</div>
				      	<div class = "col-md-9">
					        <h4>
					          <time>Masters in Computer Application</time>	
					        </h4>
									<p><b><a href = "https://vit.ac.in/" target="_blank"> VIT University (2017 - 2019)</a></b></p>
					        <p>November 2017 - March 2018</p><br>
				        </div>
				    </div>
			        <div id = "detail2" style = "text-align: center;display: none;">
			        	<p>Studied Software Development life cycle, IoT and Big Data</p>
			        </div>
			        <script type="text/javascript"> hover_inout("tile2", "detail2");</script>
			      </div>
			    </li>

			    <li>
			      <div class="content", id = "tile3">
			      	<div class= "row">
			      		<div class = "col-md-3" style="margin: 15px 0px;">
				      		<img class="img-fluid mx-auto d-block mb-50" src="{{url_for('static', filename = 'img/coach.png')}}" alt="">
				      	</div>
				      	<div class = "col-md-9">
					        <h4>
					          <time>Course Mentor</time>
					        </h4>
									<p><b><a href = "https://coursera.org" target="_blank"> Coursera </a></b></p>
					        <p>May 2018 - Present</p><br>
				    	</div>
			        </div>
			        <div id = "detail3" style = "text-align: center;display: none;">
			        	<p>Mentoring for Machine Learning: Regression (University of Washington)</p>
			        </div>
			        <script type="text/javascript"> hover_inout("tile3", "detail3");</script>
			      </div>
			    </li>

			    <li>
			      <div class="content", id = "tile4">
			      	<div class = "row">
			      	<div class = "col-sm-3" style="margin: 25px 0px;"><img class="img-fluid mx-auto d-block mb-30" src="{{url_for('static', filename = 'img/work.png')}}" alt=""></div>

			      	<script type="text/javascript"> hover_inout("tile4", "detail4");</script>
				        <div class = "col-md-9">
				        <h4>
				          <time>Data Science Intern</time>
				        </h4>
				        <p><b><a href = "https://www.tealindia.in/" target="_blank">Terra Economics and Analytical Labs</a></b></p>
				        <p>Jan 2019 - May 2019</p><br>
			        </div>
			    	</div>
			        <div id = "detail4" style = "text-align: center;display: none;">
			        	<p> Web Scrapping, Data Preparation, Infrastructure Design</p>
			        </div>
			      </div>
			    </li>
					<li>
					 <div class="content" id = "tile5" >
					 	<script type="text/javascript"> hover_inout("tile5", "detail5");</script>
					 	<div class = "row">
					 		<div class = "col-md-3" style="margin: 25px 0px;">
			      				<img class="img-fluid mx-auto d-block mb-30" src="{{url_for('static', filename = 'img/work.png')}}" alt="">
			      			</div>
			      			<div class = "col-md-9">
								 <h4>
									 <time>Research Intern</time>
								 </h4>
								 <p><b><a href = "http://www.aimlrl.com/" target="_blank">Axis India ML Research Lab</a></b></p>
								 <p>Jan 2019 - Jul 2019</p>
							</div>
						 <div id = "detail5" style = "text-align: left;display: none" >
						 	<br>
							<p>Machine Learning, Deep Learning for Tabular Datasets</p>
						 </div>
						 </div>
					 </div>
				 </li>
				 <li>
					 <div class="content" id = "tile6">
					 	<script type="text/javascript"> hover_inout("tile6", "detail6");</script>
					 	<div class = "row">
					 		<div class = "col-md-3" style="margin: 25px 0px;">
				      			<img class="img-fluid mx-auto d-block mb-30" src="{{url_for('static', filename = 'img/work.png')}}" alt="">
				      		</div>
					      	<div class = "col-md-9">
							 <h4>
								 <time>Data Science Intern</time>
							 </h4>
							 <p><b><a href = "https://www.nabler.com/" target="_blank"> Nabler Web Solutions </a></b></p>
							 <p>Aug 2019 - Oct 2019</p><br>
							</div>
							<div id = "detail6" style = "text-align: center;display: none">
							 	<p>Attribution Modelling, Graph Theory, NLP based Recommendation system for Digital Marketing</p>
							</div>
					 </div>
					 </div>
				 </li>
				 <li>
					 <div class="content" id = "tile7">
					 	<script type="text/javascript"> hover_inout("tile7", "detail7");</script>
					 	<div class = "row">
					 		<div class = "col-md-3" style="margin: 25px 0px;">
						 	<img class="img-fluid mx-auto d-block mb-30" src="{{url_for('static', filename = 'img/work.png')}}" alt="">
						 	</div>
						 	<div class = "col-md-9">
								 <h4>
									 <time>Freelancer Data Scientist</time>
								 </h4>
								 <p>Nov 2019 - Present</p>
							</div>
							 <div id = "detail7" style = "text-align: center;display: none">
							 	<p>AWS Deployment, Machine Learning modelling, NLP based problems</p>
							 </div>
						</div>
					 </div>
				 </li>
				 <li>
					 <div class="content" id = "tile8">
					 	<script type="text/javascript"> hover_inout("tile8", "detail8");</script>
					 	<div class = "row">
					 		<div class = "col-md-3" style="margin: 25px 0px;">
						 		<img class="img-fluid mx-auto d-block mb-30" src="{{url_for('static', filename = 'img/work.png')}}" alt="">
							</div>
							<div class = "col-md-9">
								 <h4>
									 <time>Data Scientist</time>
								 </h4>
								 <p><b><a href = "https://www.pichainlabs.com/" target="_blank"> Pichain Innovation Labs </a></b></p>
								 <p>Jan 2020 - Present</p><br>
							</div>
						 </div>
						 <div id = "detail8" style = "text-align: center;display: none">
						 	<p>Cloud Based ML Pipelines, Machine Learning, Deep Learning, Doker, NLP, Graph Theory, Set theory</p>
						 </div>
					 </div>
				 </li>
	
			  </ul>
			</section>
			<hr id="FAQ">


			<!-- End timeline Area -->
			<section class="faq-area pb-80 pt-80">
							<div class="container">
								<div class="row d-flex justify-content-center">
									<div class="menu-content pb-40 col-lg-8">
										<div class="title text-center">
											<h1 class="mb-10">Any Questions?</h1>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-lg-8">
									<dl class="accordion">
										<dt>
											<a href="" class="active">Why did you make this website?</a>
										</dt>
										<dd style="display: block;">
											I created and deployed this website on <a href = "https://aws.amazon.com/lambda/">AWS Lambda </a> to learn and explore more about deploying serverless web application. 
	   										<p> In the future I will use this website as a nesting ground for web-based computer vision and NLP models. Though I don't expect it to be anything more than a portfolio site, I strongly suspect that these skills will be crucial to technological development in the years to come.</p>

										</dd>

										<dt>
											<a href="">How long have you been practicing machine learning?</a>
										</dt>
										<dd style="display: none;">
										<p>I found about machine learning in Undergrad, while exploring about techniques used for creating machine automation. I have 1+ year of experience in machine learning and data science.</p>

										<p>I have rich experience in building machine learning solutions for NLP tasks. I have built models to assist in sentiment analysis, demographic clustering, and topic modelling.</p>
										</dd>
									</dl>
									</div>
								</div>
							</div>
						</section>

</div>


						<!-- start footer Area -->
						<footer class="footer-area section-gap">
							<div class="container">
							   <div class="row">
								  <div class="col-lg-4 col-md-4 col-sm-4">
									 <div class="single-footer-widget">
										<h4>About This Page</h4>
										<p class="footer-text"></p>
										<p class="footer-text">
										   <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
										   Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
										   <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
										</p>
									 </div>
								  </div>
								  <div class="col-lg-3 col-md-3 col-sm-3 social-widget">
									 <div class="single-footer-widget">
										<h4>Connect with Me</h4>
										<div class="footer-social d-flex align-items-center">
										   <a href="http://www.linkedin.com/in/ritikjain51" target="_blank"><i class="fa fa-linkedin"></i></a>
										   <a href="https://github.com/ritikjain51	" target="_blank"><i class="fa fa-github"></i></a>
										   <a href = "https://www.medium.com/@ritikjain51" target="_blank"><i class = "fa fa-medium"></i></a>
										</div>
									 </div>
								  </div>
								  <div  class="col-lg-5 col-md-5 col-sm-5">
									<!--  <div class="mapouter">
										<div class="gmap_canvas">
										   <iframe width="500" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=Bengalore&t=&z=12&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
										</div>
										<style>.mapouter{position:relative;}.gmap_canvas {overflow:hidden;background:none!important;}</style>
									 </div> -->
									 <div id="googleMap" style="widows: 100%;height:200px;"></div>
										<script>
										function initMap() {
										var uluru = {lat: 12.9716, lng: 77.5946};
										var map = new google.maps.Map(
										 document.getElementById('googleMap'), {zoom: 13, center: uluru});
										var marker = new google.maps.Marker({position: uluru, map: map});
										}
										</script>
										<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9QGqY00Nb6POumUnyO1Q7nt63WcctTOU&callback=initMap"/>
								  </div>
							   </div>
							</div>
						 </footer>
						<!-- End footer Area -->

			
			<script src = "http://code.jquery.com/jquery-latest.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
			<script src="{{url_for('static', filename = 'js/vendor/jquery-2.2.4.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/vendor/bootstrap.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/easing.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/hoverIntent.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/jquery.ajaxchimp.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/jquery.magnific-popup.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/jquery.tabs.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/jquery.nice-select.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/isotope.pkgd.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/waypoints.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/jquery.counterup.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/simple-skillbar.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/owl.carousel.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/mail-script.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/scroll.js')}}"></script>
			<script src="{{url_for('static', filename = 'js/main.js')}}"></script>


		</body>
	</html>
